@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html,
body,
p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.color-light-grey {
  color: #495057 !important;
}

element.style {
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.font-semibold {
  font-weight: 600;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
tr > td {
  font-weight: 400;
  color: #495057;
}
tr > th {
  font-weight: 700 !important;
  color: #495057;
}
/* 
.progress-orange[value] {
  background: #556ee6;
  height: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
} */
.activity-line {
  border-right: 1px dashed rgba(122, 120, 120, 0.4);
  margin-right: 2rem;
}

.no-word-wrap {
  white-space: nowrap;
}
